body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue sans-serif';
    font-weight: 300;
    line-height: 1.6em;
    font-size: 1.3em;
    margin: 10;
    padding: 10;
}

header {
    background-color: #5f82f3;
    margin: 0 auto;
    height: 50px;
}

header h1 {
    color: lightgray;
    font-size: 1.4em;
    text-align: left;
    text-shadow: 1px 1px rgb(3, 3, 3);
    padding: 10px;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 30px;
}

#category-list-container {
    text-align: center;
}

#category-form-container {
    text-align: center;
}

#restaurant-form-container {
    text-align: center;
}

div.card {
    text-align-last: center;
    background-color: #eeeeee;
    height: 300px;
    width: 400px;
    box-shadow: 15px 15px lightgrey;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

span.name {
    font-size: 1.4em;
    color: black;
    font-family: Helvetica;
}

p {
    font-size: 1.2em;
    color: black;
    font-family: Helvetica;
}

li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
}

button {
    font-size: .65em;
    color: #fff;
    background-color: rgb(84, 188, 192);
    border-radius: 10px;
}

button.release {
    float: right;
    background-color: rgb(240, 106, 101);
}

@media only screen and (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 850px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
